.cover-image {
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .cover-image {
      height: 600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover-image {
      height: 400px;
  }
}

@media screen and (min-width: 1441px) {
  .cover-image {
      height: 800px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .cover-image {
      height: 400px;
  }
}

@media(orientation: portrait) {
  .cover-image {
      height: 250px;
  }
}