header {
  display: flex !important;
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

header a {
  font-size: 15px;
}

.footerImage {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.snsWrapper {
  width: 100px;
}

@media screen and (min-width: 1441px) and (orientation: landscape) {
    .header-image {
        width: 600px;
        height: 150px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-image {
      width: 480px;
      height: 120px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .header-image {
      width: 480px;
      height: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-image {
      width: 320px;
      height: 80px;
  }
}

@media (orientation: portrait) {
  header {
    display: block !important;
    justify-content: space-between;
  }
  
  .header-image {
    width: 320px;
    height: 80px;
  }

  .snsWrapper {
    display: none;
  }
}

@media screen and (max-width: 450px) and (orientation: portrait) {
  .header-image {
      width: 200px;
      height: 50px;
  }
}
